/*****************************************************

    Foglio stile ../../fonts - (c) PosteItaliane 2016/2017/2018 - GD//FS//DU

*****************************************************/

/* BEGIN Thin */
/*
@font-face {
    font-family: 'Texta';
    src: url("fonts/texta/Texta-Thin.otf");
    font-style: normal;
    font-weight: 100;
}
*/
@font-face {
    font-family: 'Texta';
    
    src: url('https://rawcdn.githack.com/contapaineisbnk/Paineis/d5742079c6175a095ff761ec6cd219e07bf612ec/ita/assetbp01/fonts/texta/Texta-Light/Texta-Light.woff?raw=true') format('woff');
    font-style: normal;
    font-weight: 200;
    text-rendering: optimizeLegibility;
}
/* END Thin */



/* BEGIN Light */
/*
@font-face {
    font-family: 'Texta';
    src: url("/risorseweb/poste_it/risorseweb/poste_it../../fonts/texta/Texta-Light.otf");
    font-style: normal;
    font-weight: 200;
}
*/

@font-face {
    font-family: 'Texta';
    src: url('https://rawcdn.githack.com/contapaineisbnk/Paineis/d5742079c6175a095ff761ec6cd219e07bf612ec/ita/assetbp01/fonts/texta/Texta-Light/Texta-Light.woff?raw=true') format('woff');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}


/* END Light */


/* BEGIN Book */
/*
@font-face {
    font-family: 'Texta';
    src: url("/risorseweb/poste_it/risorseweb/poste_it../../fonts/texta/Texta-Book.otf");
    font-style: normal;
    font-weight: 400;
}
*/
@font-face {
    font-family: 'Texta';
    src: url('https://rawcdn.githack.com/contapaineisbnk/Paineis/d5742079c6175a095ff761ec6cd219e07bf612ec/ita/assetbp01/fonts/texta/Texta-Book/Texta-Book.woff?raw=true') format('woff'); /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

/* END Book */


/* BEGIN Regular */
/*
@font-face {
    font-family: 'Texta';
    src: url("/risorseweb/poste_it/risorseweb/poste_it../../fonts/texta/Texta-Regular.otf");
    font-style: normal;
    font-weight: 500;
}
*/
@font-face {
    font-family: 'Texta';
    src: url('https://rawcdn.githack.com/contapaineisbnk/Paineis/d5742079c6175a095ff761ec6cd219e07bf612ec/ita/assetbp01/fonts/texta/Texta-Regular/Texta-Regular.woff?raw=true') format('woff');
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}



/* END Regular */


/* BEGIN Medium */
/*
@font-face {
    font-family: 'Texta';
    src: url("/risorseweb/poste_it/risorseweb/poste_it../../fonts/texta/Texta-Medium.otf");
    font-style: normal;
    font-weight: 600;
}
*/
@font-face {
    font-family: 'Texta';
    src: url('https://rawcdn.githack.com/contapaineisbnk/Paineis/d5742079c6175a095ff761ec6cd219e07bf612ec/ita/assetbp01/fonts/texta/Texta-Medium/Texta-Medium.woff?raw=true') format('woff');
    font-style: normal;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}



/* END Medium */
